<%= semantic_form_for [:admin, @page] do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% LOCALES.each do |code, language| %>
        <li><%= link_to language, "#lang-#{code}", 'data-toggle' => 'tab' %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% LOCALES.each do |code, _| %>
        <div class="tab-pane" id="lang-<%= code %>">
          <%= f.inputs 'Page' do %>
            <%= f.input :"title_#{code}" %>
            <%= f.input :"body_#{code}", input_html: { class: 'ckeditor' } %>
            <%= f.input :"visible_#{code}" %>
            <%= f.simple_fields_for :meta do |m| %>
              <%= m.input :"keywords_#{code}", label: 'META Keywords' %>
              <%= m.input :"description_#{code}", label: 'META Description' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.inputs "Settings" do %>
    <%= f.input :category, as: :select, collection: Page.categories, include_blank: false %>
    <%= f.input :weight %>
    <%= f.input :slug %>
    <%= f.input :is_published %>
  <% end %>
  <%= f.actions %>
<% end %>