<%= semantic_form_for [:admin, @tour] do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% LOCALES.each do |code, language| %>
        <li><%= link_to language, "#lang-#{code}", 'data-toggle' => 'tab' %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% LOCALES.each do |code, _| %>
        <div class="tab-pane" id="lang-<%= code %>">
          <%= f.inputs 'Tour' do %>
            <%= f.input :"title_#{code}" %>
            <%= f.input :"description_#{code}", input_html: { class: 'ckeditor' } %>
            <%= f.input :"visible_#{code}" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.inputs "Settings" do %>
    <%= f.input :price %>
    <%= f.input :currency, as: :select, collection: Tour.currencies %>
    <%= f.input :tour_type %>
    <%= f.input :city %>
    <%= f.input :slug %>
  <% end %>
  <%= f.actions %>
<% end %>
