<%= semantic_form_for [:admin, @tour] do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% LOCALES.each do |code, language| %>
        <li><%= link_to language, "#lang-#{code}", 'data-toggle' => 'tab' %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% LOCALES.each do |code, _| %>
        <div class="tab-pane" id="lang-<%= code %>">
          <%= f.inputs 'Tour' do %>
            <%= f.input :"title_#{code}" %>
            <%= f.input :"subtitle_#{code}" %>
            <%= f.input :"description_#{code}", input_html: { class: 'ckeditor' } %>
            <%= f.input :"prices_#{code}", input_html: { class: 'ckeditor' } %>
            <%= f.input :"visible_#{code}" %>
            <%= f.simple_fields_for :meta_tag do |m| %>
              <%= m.input :"keywords_#{code}", label: 'META Keywords' %>
              <%= m.input :"description_#{code}", label: 'META Description' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.inputs "Settings" do %>
    <%= f.input :price %>
    <%= f.input :currency, as: :select, collection: CURRENCIES %>
    <%= f.input :tour_type %>
    <%= f.input :city %>
    <%= f.input :slug %>
  <% end %>
  <%= f.inputs "Photos", class: 'inputs js-form-init' do %>
    <%= f.semantic_fields_for :primary_photo do |p| %>
      <%= render partial: 'admin/shared/photo_form', locals: { f: p, association: :primary_photo } %>
    <% end %>
    <%= f.semantic_fields_for :photos do |p| %>
      <%= render partial: 'admin/shared/photo_form', locals: { f: p, association: :photo, many: true } %>
    <% end %>
    <li>
      <%= add_child_link :photo %>
    </li>
    <%= new_child_fields_template f, :photo, many: true %>
  <% end %>
  <%= f.actions %>
<% end %>
<div id="handlebars">
  <%= yield :handlebars %>
</div>