<div class="row" id="tour">
  <div class="span9">
    <% box title: @tour.title do %>
      <ul class="nav nav-tabs">
        <li><%= link_to I18n.t('tabs.overview'), '#overview', 'data-toggle' => 'tab' %></li>
        <% if @tour.photos.any? && @tour.photos.count > 1 %>
          <li><%= link_to I18n.t('tabs.photos', count: @tour.photos.count), '#photos', 'data-toggle' => 'tab' %></li>
        <% end %>
        <% if @tour.prices.present? %>
          <li><%= link_to I18n.t('tabs.prices'), '#prices', 'data-toggle' => 'tab' %></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="overview">
          <%= image_tag(@tour.photos.first.image_url(:preview)) if @tour.photos.any? %>
          <p><%= @tour.description.try(:html_safe) %></p>
        </div>
        <% if @tour.photos.any? && @tour.photos.count > 1 %>
          <div class="tab-pane" id="photos">
            <div class="fotorama-init" data-width="770" data-height="350">
              <% @tour.photos.each do |photo| %>
                <%= link_to image_tag(photo.image_url(:thumb), alt: photo.title), photo.image_url(:preview) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @tour.prices.present? %>
          <div class="tab-pane" id="prices">
            <h4><%= I18n.t('tabs.prices') %></h4>
            <p><%= @tour.prices.try(:html_safe) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>