<%= render partial: 'admin/shared/tabs' %>
<%= semantic_form_for [:admin, @hotel] do |f| %>
  <%= f.inputs do %>
    <%= f.input :city %>
  <% end %>
  <div class="tabs tab-content">
    <%= f.semantic_fields_for :translations do |t| %>
      <div id="lang-<%= t.object.locale %>" class="tab-pane">
        <%= t.inputs do %>
          <%= t.input :title %>
          <%= t.input :description, input_html: { 'data-editor-type' => 'wysiwyg' } %>
          <%= t.input :locale, as: :hidden %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= f.buttons %>
<% end %>
<script type="text/javascript">
  $(function() {
    $('.nav-tabs a:first').tab('show');
  });
</script>