<%= semantic_form_for [:admin, @region] do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% LOCALES.each do |code, language| %>
        <li><%= link_to language, "#lang-#{code}", 'data-toggle' => 'tab' %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% LOCALES.each do |code, _| %>
        <div class="tab-pane" id="lang-<%= code %>">
          <%= f.inputs 'Region' do %>
            <%= f.input :"title_#{code}" %>
            <%= f.simple_fields_for :meta do |m| %>
              <%= m.input :"keywords_#{code}", label: 'META Keywords' %>
              <%= m.input :"description_#{code}", label: 'META Description' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.inputs "Settings" do %>
    <%= f.input :parent, collection: options_for_select(nested_set_options(Region) { |i| "#{'-' * i.level} #{i.title}"}) %>
    <%= f.input :slug %>
    <%= f.input :menu %>
    <%= f.input :shown_aside %>
  <% end %>
  <%= f.actions %>
<% end %>
