<div class="row" id="hotel">
  <div class="span9">
    <% box do %>
      <h3>
        <%= @hotel.title %>
        <% if @hotel.city %>
        <span>, <%= @hotel.city.title %><%= " #{@hotel.data['stars']}*" if @hotel.data['stars'] %></span>
        <% end %>
      </h3>
      <ul class="nav nav-tabs">
        <li>
          <%= link_to I18n.t('hotels.overview'), '#overview', 'data-toggle' => 'tab' %>
        </li>
        <% if @hotel.photos.any? %>
          <li>
            <%= link_to I18n.t('hotels.photos'), '#photos', 'data-toggle' => 'tab' %>
          </li>
        <% end %>
        <li>
          <%= link_to I18n.t('hotels.description'), '#description', 'data-toggle' => 'tab' %>
        </li>
        <li>
          <%= link_to I18n.t('hotels.location'), '#location', 'data-toggle' => 'tab' %>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="overview">
          <p><%= @hotel.description %></p>
        </div>
        <% if @hotel.photos.any? %>
          <div class="tab-pane" id="photos">
            <div class="fotorama" data-width="770" data-height="350">
              <% @hotel.photos.each do |photo| %>
                <%= link_to photo.url(:preview), photo.url(:thumb) %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="tab-pane" id="description">
          <%= render partial: 'hotels/description', locals: { data: @hotel.data } %>
        </div>
        <div class="tab-pane" id="location">
          <h4><%= I18n.t('hotels.contacts') %></h4>
          <p><%= @hotel.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>