<div class="row" id="hotel">
  <div class="span9">
    <% box do %>
      <h3><%= @hotel.title %><span>, <%= @hotel.city.title %> <%= @hotel.data['stars'] %>*</span></h3>
      <ul class="nav nav-tabs">
        <li>
          <%= link_to 'Обзор', '#overview', 'data-toggle' => 'tab' %>
        </li>
        <li>
          <%= link_to 'Фото', '#photo', 'data-toggle' => 'tab' %>
        </li>
        <li>
          <%= link_to 'Описание', '#description', 'data-toggle' => 'tab' %>
        </li>
        <li>
          <%= link_to 'Расположение', '#location', 'data-toggle' => 'tab' %>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="overview">
          <p><%= @hotel.description %></p>
        </div>
        <div class="tab-pane" id="photo">
          <div class="fotorama" data-width="770" data-height="350">
            <% @hotel.photos.each do |photo| %>
              <%= link_to photo.url(:preview), photo.url(:thumb) %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="description">
          <%= render partial: 'hotels/description', locals: { data: @hotel.data } %>
        </div>
        <div class="tab-pane" id="location">
          <h4>Контактная информация</h4>
          <p><%= @hotel.address %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>