<%= semantic_form_for [:admin, @sight] do |f| %>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% LOCALES.each do |code, language| %>
        <li><%= link_to language, "#lang-#{code}", 'data-toggle' => 'tab' %></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% LOCALES.each do |code, _| %>
        <div class="tab-pane" id="lang-<%= code %>">
          <%= f.inputs 'Sight' do %>
            <%= f.input :"title_#{code}" %>
            <%= f.input :"description_#{code}", input_html: { class: 'ckeditor' } %>
            <%= f.simple_fields_for :meta_tag do |m| %>
              <%= m.input :"keywords_#{code}", label: 'META Keywords' %>
              <%= m.input :"description_#{code}", label: 'META Description' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.inputs "Settings" do %>
    <%= f.input :city %>
    <%= f.semantic_fields_for :photo do |p| %>
      <%= p.input :image %>
    <% end %>
    <%= f.input :slug %>
  <% end %>
  <%= f.actions %>
<% end %>
