<div class="row">
  <div class="span12">
    <ul class="nav">
      <li class="span2">
        <h3><%= I18n.t('footer.ukraine') %></h3>
        <ul class="nav">
          <% if I18n.locale == :en && Sight.any? %>
            <li><%= link_to I18n.t('menu.sights'), sights_path %></li>
          <% end %>
          <% Page.published.for(:about, :ukraine).each do |page| %>
            <li><%= link_to page.title, url_for(page) %></li>
          <% end %>
        </ul>
      </li>
      <% if Tour.types.any? %>
        <li class="span2">
          <h3><%= I18n.t('footer.tours') %></h3>
          <ul class="nav">
            <% Tour.types.each do |tour_type| %>
              <li><%= link_to tour_type.title, url_for(tour_type) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if Hotel.any? %>
        <li class="span2">
          <h3><%= I18n.t('footer.hotels') %></h3>
          <ul class="nav">
            <% Region.for_menu(5).each do |region| %>
              <li><%= link_to region.title, hotels_region_path(region) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li class="span2">
        <h3><%= I18n.t('footer.services') %></h3>
        <ul class="nav">
          <% Page.published.for(:services).each do |page| %>
            <li><%= link_to page.title, url_for(page) %></li>
          <% end %>
        </ul>
      </li>
      <li class="last">
        <h3><%= I18n.t('footer.social_networks') %></h3>
        <a href="http://facebook.com/rozavitriv" target="_blank"><%= image_tag 'facebook.png' %></a>
        <a href="https://twitter.com/#!/RozaVitriv" target="_blank"><%= image_tag 'twitter.png' %></a>
        <a href="http://vkontakte.ru/rozavitriv" target="_blank"><%= image_tag 'vk.png' %></a>
      </li>
      <div class="clear"></div>
    </ul>
    <div class="rights">&copy; 2012 Roza Vitriv Travel Company. All rights reserverd. Powered by <a href="http://rozavitriv.com" target="_blank">RozaVitriv.com</a></div>
  </div>
</div>