<% modal title: I18n.t('modal.contacts'), id: 'contacts' do %>
  <p>
    <table>
      <tr>
        <td colspan="2"><h3><%= I18n.t('contacts.phones') %></h3></td>
      </tr>
      <tr>
        <td class="description"><%= I18n.t('contacts.tourism') %></td>
        <td>+380 44 495-00-55</td>
      </tr>
      <tr>
        <td class="description"><%= I18n.t('contacts.airline_tickets') %></td>
        <td>+380 44 428-51-15</td>
      </tr>
      <tr>
        <td class="description"><%= I18n.t('contacts.mobile') %></td>
        <td>+380 50 428-51-15<br />+380 67 123-45-67</td>
      </tr>
      <tr>
        <td colspan="2"><h3><%= I18n.t('contacts.email') %></h3></td>
      </tr>
      <tr>
        <td class="description"><%= I18n.t('contacts.tourism') %></td>
        <td><a href="mailto:yulia@rozavitriv.com">yulia@rozavitriv.com</a></td>
      </tr>
      <tr>
        <td class="description"><%= I18n.t('contacts.airline_tickets')%></td>
        <td><a href="mailto:avia@rozavitriv.com">avia@rozavitriv.com</a></td>
      </tr>
      <tr>
        <td colspan="2"><h3><%= I18n.t('contacts.address') %></h3></td>
      </tr>
      <tr>
        <td colspan="2"><%= I18n.t('contacts.office_address') %></td>
      </tr>
    </table>
  </p>
<% end %>
<% modal title: I18n.t('modal.map'), id: 'map' do %>
  <p>
    Посмотреть на большой карте
    <span class="gray">(откроется в новом окне)</span>:
    <a href="http://mapia.ua/ru/kiev/turagentstva-i-turfirmy/turisticheskaya-kompaniya-roza-vetrov--35910?on_map=1" target="blank">Mapia</a>&nbsp;<a href="http://maps.yandex.ru/-/CBea6XPu" target="blank">Яндекс</a>&nbsp;<a href="http://g.co/maps/j9kq" target="blank">Google</a><br>
    <a href="http://mapia.ua/ru/kiev/turagentstva-i-turfirmy/turisticheskaya-kompaniya-roza-vetrov--35910?on_map=1" target="blank"><img class="mapia" style="margin-top: 5px;" src="http://mapia.ua/static?lat=50.45932&lon=30.5120&zoom=16&marker_title=Роза Ветров&size=450x250" alt=""></a>
  </p>
<% end %>
<% modal title: I18n.t('modal.about_company'), id: 'about_company' do %>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit ullamcorper imperdiet. Cras ac metus pellentesque erat pharetra commodo quis a lectus. Ut lobortis nibh ac nisl mollis condimentum sed in metus. Ut fermentum diam eget arcu venenatis eget luctus magna volutpat. Duis elementum blandit consectetur. Suspendisse interdum sem id dolor tempor molestie. Nulla aliquam pharetra justo in bibendum. Donec turpis mauris, volutpat in scelerisque vitae, placerat a sem. Duis suscipit, tellus ut suscipit tristique, lorem ipsum euismod tellus, at tincidunt mi enim et ligula. Mauris at nunc risus. Suspendisse at lorem magna. Nulla et ante lectus, sit amet euismod tellus. Nam egestas iaculis purus at scelerisque. Pellentesque egestas neque a velit gravida nec posuere tellus pellentesque.</p>
  <p>Nunc rhoncus commodo nunc a lobortis. Vestibulum ultricies metus non dui iaculis sed rhoncus nisi ullamcorper. Nunc sapien velit, pharetra nec feugiat in, malesuada id nisl. Sed sed neque arcu, eget semper velit. Fusce aliquam interdum magna sit amet sodales. Cras urna nibh, interdum eget tristique quis, sodales ac mauris. Donec fringilla libero eget lacus fringilla ac lobortis diam consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris egestas dignissim volutpat. Mauris a quam at nibh varius aliquet. Donec adipiscing aliquet eleifend. Donec sit amet sem sem. Fusce eu scelerisque leo.</p>
  <p>Etiam odio arcu, fringilla a mollis non, molestie eget odio. Integer quis magna urna. Aenean sit amet nibh arcu. Pellentesque at lacinia risus. Aliquam sagittis, ipsum hendrerit tempus lobortis, tellus elit laoreet eros, vel pharetra arcu velit et ipsum. Cras dignissim lacus quis enim dignissim eu commodo tellus dictum. Vivamus aliquam nisi ut nisl sollicitudin vel tristique quam facilisis. Ut lorem velit, semper at bibendum in, sagittis eget ante. Nulla sem est, suscipit vitae condimentum et, tristique et mauris. Vestibulum ligula est, ultrices sed tristique quis, placerat ultrices risus. Morbi nec nisl nunc. Duis lobortis, libero at tempus auctor, velit turpis sodales sem, vel consequat sapien justo sit amet turpis. Nullam placerat, magna porta euismod molestie, diam massa ullamcorper diam, id congue justo tortor et nulla.</p>
<% end %>