<div class="row" id="top-bar">
  <div class="navbar span12">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="dropdown">
            <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
              <%= I18n.t('topbar.about_company') %> <b class="caret"></b>
            <% end %>
            <ul id="about_menu" class="dropdown-menu">
              <li><%= link_to I18n.t('topbar.about_country'), page_path('about-country') %></li>
              <li><%= link_to I18n.t('topbar.history'), page_path('history') %></li>
              <li><%= link_to I18n.t('topbar.culture'), page_path('culture') %></li>
              <li><%= link_to I18n.t('topbar.traditions'), page_path('traditions') %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
              <%= I18n.t('topbar.for_agencies') %> <b class="caret"></b>
            <% end %>
            <ul id="agencies_menu" class="dropdown-menu">
              <li><%= link_to I18n.t('topbar.agreement'), page_path('agreement') %></li>
              <li><%= link_to I18n.t('topbar.catalog'), page_path('catalog') %></li>
              <li><%= link_to I18n.t('topbar.discount'), page_path('discount') %></li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to I18n.t('topbar.qa'), page_path('questions-and-answers') %>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to I18n.t('topbar.contacts'), '#contacts', 'data-toggle' => 'modal', class: 'internal' %></li>
          <li><%= link_to I18n.t('topbar.map'), '#map', 'data-toggle' => 'modal', class: 'internal' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>